[submodule "bot_simulator/linenoise"]
	path = third_party/linenoise
	url = git@github.com:antirez/linenoise
[submodule "third_party/markdown2image"]
	path = third_party/markdown2image
	url = git@github.com:slontia/markdown2image
[submodule "third_party/sqlite_modern_cpp"]
	path = third_party/sqlite_modern_cpp
	url = git@github.com:SqliteModernCpp/sqlite_modern_cpp
[submodule "third_party/mahjong"]
	path = third_party/mahjong
	url = git@github.com:slontia/mahjong
[submodule "third_party/tiny_expr"]
	path = third_party/tiny_expr
	url = git@github.com:codeplea/tinyexpr
